@keyframes DropDownSlideSettings {
  100% {
    transform: translate3d(110px, 5px, 0);
  }

  0% {
    transform: translate3d(110px, 10px, 0);
  }
}

@keyframes DropDownSlideMessageAction {
  100% {
    transform: translateY(0, 100px, 0);
  }

  0% {
    transform: translateY(0, 10px, 0);
  }
}

@keyframes wave {
  0% {
    transform: none;
  }

  30% {
    transform: translateY(-5px);
  }

  60% {
    transform: none;
  }

  100% {
    transform: none;
  }
}

@keyframes DropDownSlide {
  100% {
    transform: translate3d(10px, -45px, 0px);
  }

  0% {
    transform: translateY(0px, -45px, 0px);
  }
}

@keyframes DropDownSlideSmallScreen {
  100% {
    transform: translate3d(-45px, -10px, 0px);
  }

  0% {
    transform: translate3d(-45px, 0px, 0px);
  }
}
