$white90: #ffffffCC;
$white50: #ffffff80;
$ghost_white: #f7f7ff;
$text_muted: #7a7f9a;
$solitude: #f0eff5;
$trout: #495057;
$hawkes_blue: #E6EBF5;
$primary_color: #7269ef;
$white: #ffffff;
$patten_blue: #f5f7fb;
$heather: #adb5bd;
$dandelion: #ffd166;
$caribbean_green: #06d6a0;
$french_rose: #ef476f;
$cinder: #212529;
$model: #00000099;
