.video_container {
  padding: 10px;

  .class_name {
    @include middleHeadline;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
  }

  .amount {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
  }

  #video-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
    // grid-gap: 10px;
    padding-top: 5px;
    grid-row-gap: 10px;
    max-height: 600px;
    overflow: scroll;
    border-top: 1px solid black;

    video {
      max-height: 250px !important;
      width: 200px !important;
      height: 250px !important;

      border: 1px solid black;
    }
  }
}

@media only screen and (max-width: 1700px) {
    .video_container {
      #video-grid {
        grid-template-columns: 33.33% 33.33% 33.33%;
      }
    }
  }

@media only screen and (max-width: 1400px) {
  .video_container {
    #video-grid {
      grid-template-columns: 50% 50%;
    }
  }
}

@media only screen and (max-width: 900px) {
    .video_container {
      #video-grid {
        grid-template-columns: 100%;
      }
    }
  }
  
