.search_chat_tab {
  @include center_item_flex;
  & .search {
    margin-bottom: 1rem;
    background-color: $hawkes_blue;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border-radius: 10%;
    width: 90%;

    & .icon_search {
      @include center_item_flex;
      margin-right: -20px;
      width: 20%;
      & img {
        vertical-align: middle;
        height: 18px;
        width: 18px;
      }
    }

    & .form_search {
      height: calc(1.5em + 1rem + 6px);
      border: 0;
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.4rem;
      position: relative;
      flex: 1 1 auto;
      width: 1%;
      min-width: 0;
      margin-bottom: 0;
      background-color: $hawkes_blue;

      &:focus {
        outline: none;
      }
    }
  }
}

.list_groups {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  & .brief_title {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-bottom: 1rem !important;

    font-size: 16px;
    color: $trout;
    font-weight: bold;
  }

  & .list_content {
    max-height: 100%;
    height: calc(100vh - 184px);

    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    & .list_wrapper {
      @include hideScrollBar;
      overflow: scroll;
      width: inherit;
      height: inherit;
      max-width: inherit;
      max-height: inherit;
      margin: 0;

      & .auto_height_wrapper {
        box-sizing: inherit !important;
        height: 100%;
        width: 100%;
        max-width: 1px;
        position: relative;
        float: left;
        max-height: 1px;
        overflow: scroll;
        z-index: -1;
        padding: 0;
        margin: 0;
        pointer-events: none;
        flex-grow: inherit;
        flex-shrink: 0;
        flex-basis: 0;

        & .auto_height {
          position: absolute;
          overflow: scroll;
          pointer-events: none;
          box-sizing: inherit;
          display: block;
          opacity: 0;
          top: 0;
          left: 0;
          height: 1000%;
          width: 1000%;
          min-height: 1px;
          min-width: 1px;
          z-index: -1;
        }
      }

      & .bar_mask {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 0;
        bottom: 0;
        direction: inherit;
        overflow-y: scroll;
        left: 0;
        right: 0;
        width: auto !important;
        height: auto !important;
        z-index: 0;

        & .bar_offset {
          direction: inherit !important;
          box-sizing: inherit !important;
          resize: none !important;
          left: 0 !important;
          right: 0 !important;

          & .list_wrapper {
            height: 100%;
            overflow: scroll scroll;
            direction: inherit;
            box-sizing: border-box !important;
            position: relative;
            display: block;
            width: auto;
            visibility: visible;
            max-width: 100%;
            max-height: 100%;
            padding: 0 !important;
            & .list {
              padding: 0;

              & .accordion {
                & .card {
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  min-width: 0;
                  background-clip: border-box;
                  border: 0 solid #f5f7fb;
                  border-radius: 0.25rem;
                  margin-bottom: 0.5rem;
                  box-shadow: none;

                  & .unread_message_class {
                    position: absolute;
                    display: inline-block;
                    top: 10px;
                    margin-left: 10px;

                    & .badge_unread_class {
                      line-height: 16px;
                      font-weight: 600;
                      font-size: 10px;

                      color: $french_rose;
                      background-color: rgba(239, 71, 111, 0.18);

                      padding-right: 0.6em;
                      padding-left: 0.6em;
                      border-radius: 10rem;
                      display: inline-block;
                      padding: 0.25em 0.4em;
                      text-align: center;
                      white-space: nowrap;
                      vertical-align: baseline;
                      transition: color 0.15s ease-in-out,
                        background-color 0.15s ease-in-out,
                        border-color 0.15s ease-in-out,
                        box-shadow 0.15s ease-in-out;
                    }
                  }

                  & a {
                    text-decoration: none;
                    & .title_tab {
                      margin-bottom: 0;
                      border-bottom: 0 solid $ghost_white;

                      color: $trout;
                      font-family: "Public Sans", sans-serif;
                      font-weight: 600;

                      display: flex;
                      justify-content: space-between;
                      align-items: center;

                      & .class_icon {
                        vertical-align: middle;
                        height: 16px;
                        width: 22px;
                        margin-top: -4px;
                        margin-right: 5px;
                      }

                      & .attachment {
                        @include icon14;
                        margin-top: -4px;
                        margin-right: 5px;
                      }

                      & .open_close_icon {
                        @include icon14;
                        float: right;
                      }
                    }
                    
                    & > div {
                      padding: 0.75rem 1.25rem;
                      margin-bottom: 0;
                      border-bottom: 0 solid $ghost_white;

                      color: $trout;
                      font-family: "Public Sans", sans-serif;
                      font-weight: 600;

                      & .class_icon {
                        vertical-align: middle;
                        height: 16px;
                        width: 22px;
                        margin-top: -4px;
                        margin-right: 5px;
                      }

                      & .attachment {
                        @include icon14;
                        margin-top: -4px;
                        margin-right: 5px;
                      }

                      & .open_close_icon {
                        @include icon14;
                        float: right;
                      }
                    }
                  }

                  & .collapse {
                    overflow-y: scroll; // Hide the element content, while height = 0
                    height: 0;
                    opacity: 0;
                    transition: height 0ms 400ms, opacity 400ms 0ms;

                    &::-webkit-scrollbar {
                      display: block;
                    }

                    & .card_body {
                      flex: 1 1 auto;
                      min-height: 1px;

                      & div {
                        & p {
                          color: $text_muted;
                          margin-bottom: 0.35rem;
                        }

                        & h5 {
                          @include normalText;
                          font-weight: bold;
                        }

                        & .card_content {
                          display: flex;
                          align-items: center;
                          margin-top: -2.5rem;
                          margin-bottom: 1rem;
                          & .file_image_video_icon {
                            height: 3rem;
                            width: 3rem;
                            margin-right: 1rem;
                            @include center_item_flex;
                            & img {
                              @include icon30;
                            }
                          }

                          & .content {
                            flex: 1 1;
                            margin-top: 0.5rem;

                            & h5 {
                              @include normalText;
                              @include ellipsis;
                              max-width: 10rem;
                            }

                            & p {
                              font-size: 13px;
                            }
                          }

                          & .action {
                            & img {
                              @include icon14;
                            }
                          }
                        }
                      }

                      & div:first-child {
                        margin-top: 0;
                      }
                    }
                  }

                  & .show {
                    height: auto;
                    max-height: 320px;
                    opacity: 1;
                    transition: height 0ms 0ms, opacity 600ms 0ms;
                  }
                }
              }

              & ul {
                margin: 0;
                padding-left: 0;
                list-style: none;
                background-color: $ghost_white;

                & .button_view_more_rooms {
                  display: flex;
                  justify-content: center;

                  & > button {
                    text-align: center;
                    display: inline-block;
                    transition-duration: 0.4s;

                    border: none;
                    margin: 10px 0;
                    padding: 0 5px;
                    background-color: $primary_color;
                    color: $white;
                    font-weight: bold;
                    border-radius: 50px;

                    &:hover {
                      background-color: $white;
                      font-size: 13px;
                      color: black;
                    }

                    &:focus,
                    &:active {
                      outline: none;
                    }
                  }
                }

                & li {
                  & a {
                    position: relative;
                    display: block;
                    padding: 0 20px;
                    color: $text_muted;
                    transition: all 0.4s;
                    border-top: 1px solid $patten_blue;
                    border-radius: 4px;
                    outline: none !important;
                    text-decoration: none;

                    &:hover {
                      background-color: $hawkes_blue;
                    }

                    & .edit_chat {
                      & .edit_icon {
                        vertical-align: middle;
                        height: 22px;
                        width: 22px;
                        margin-right: 5px;
                        margin-left: 10px;
                      }

                      & span {
                        font-size: 14px;
                        color: $primary_color;
                      }
                    }

                    & .item {
                      display: flex;
                      align-items: flex-start;

                      & .user {
                        position: relative;
                        margin-right: 1rem !important;
                        align-self: center;
                        & .user_avatar {
                          @include avatar_xs;
                          border-radius: 50% !important;
                          vertical-align: middle;
                          border-style: none;
                        }

                        & .status {
                          width: 10px;
                          height: 10px;
                          border-radius: 50%;
                          border: 2px solid #fff;
                          position: absolute;
                          right: 0;
                          bottom: 0;
                        }

                        & .online {
                          background-color: $caribbean_green;
                        }

                        & .offline {
                          background-color: $heather;
                        }

                        & .busy {
                          background-color: $dandelion;
                        }
                      }

                      & .body {
                        overflow: scroll !important;
                        width: 50%;

                        & .user_name {
                          @include ellipsis;
                          font-size: 15px;
                          margin-bottom: 0.25rem !important;
                          color: $text_muted;
                          font-weight: bold;
                        }

                        & .message {
                          @include ellipsis;
                          font-size: 14px;
                          margin-bottom: 0;
                          width: 100%;
                          display: flex;
                          align-items: center;

                          & .media_icon {
                            vertical-align: middle;
                            width: 14px;
                            height: 14px;
                            margin-right: 7px;
                          }

                          & .typing_animation {
                            & .dot {
                              background-color: $primary_color !important;
                              display: inline-block;
                              width: 4px;
                              height: 4px;
                              border-radius: 50%;
                              margin-right: -1px;
                              animation: wave 1.3s linear infinite;
                              opacity: 0.6;
                              margin-left: 0.25rem !important;
                            }

                            & .dot:nth-child(2) {
                              animation-delay: -1.1s;
                            }

                            & .dot:nth-child(3) {
                              animation-delay: -0.9s;
                            }
                          }
                        }

                        & .typing {
                          color: $primary_color !important;
                          font-weight: 500;
                        }
                      }

                      & .time {
                        font-size: 11px !important;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        right: 25px;
                        top: 17px;

                        & > img {
                          margin-right: 5px;
                        }
                      }

                      & .unread_message {
                        position: absolute;
                        display: inline-block;
                        right: 30px;
                        top: 33px;

                        & .badge_unread {
                          line-height: 16px;
                          font-weight: 600;
                          font-size: 10px;

                          color: $french_rose;
                          background-color: rgba(239, 71, 111, 0.18);

                          padding-right: 0.6em;
                          padding-left: 0.6em;
                          border-radius: 10rem;
                          display: inline-block;
                          padding: 0.25em 0.4em;
                          text-align: center;
                          white-space: nowrap;
                          vertical-align: baseline;
                          transition: color 0.15s ease-in-out,
                            background-color 0.15s ease-in-out,
                            border-color 0.15s ease-in-out,
                            box-shadow 0.15s ease-in-out;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes wave {
  0% {
    transform: none;
  }

  30% {
    transform: translateY(-5px);
  }

  60% {
    transform: none;
  }

  100% {
    transform: none;
  }
}
