.tabs_navigation_container {
  width: 100%;
  margin-top: auto !important;
  margin-bottom: auto !important;

  text-align: center;

  & .ul_tabs {
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center !important;

    & .li_tab {
      margin: 7px 0;

      &_a {
        font-size: 24px;
        color: #878a92;
        line-height: 56px;
        margin: 0 auto;
        border-radius: 8px;
        padding: 15px;

        &_img {
          @include icon24;
        }
      }

      & .active {
        background-color: #f7f7ff;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .tabs_navigation_container {
    flex-direction: row;
    justify-content: center;
    overflow: scroll;
    
    & .ul_tabs {
      display: flex;

      & .li_tab {
        margin: 0 5vw;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .tabs_navigation_container {

    & .ul_tabs {

      & .li_tab {
        margin: 0 auto;
      }
    }
  }
}